.bg-dark-blue {
  background-color: #020024;
  color: white;
}

.main-title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

.font-p{
  font-size: 20px;
}

.p-100 {
  padding: 80px 0;
}

.texto-destaque {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
}

.link-ativo {
  text-decoration: underline !important;
  text-underline-offset: 6px;
  font-weight: 600;
}



body {
  background-image: url("../assets/svgs/bg-decoration.svg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.overlay {
  display: none;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1050;
  
  align-items: center; 
  justify-content: center;
}
