<footer class="bg-black border-secondary mt-5 pt-5 pb-3">
  <div class="container px-5">
    <div class="row text-white">
      
      <div class="col-12 col-md-5 mb-4 mb-md-0 d-flex flex-column align-items-start">
        <div class="d-flex align-items-center mb-3">
          <img class="rounded-circle me-3" src="assets/images/calama_devs_logo.jpg" alt="Logo Calama Devs" width="50">
          <h5 class="mb-0 fw-bold">Calama Devs</h5>
        </div>
        <p class="text-secondary small pe-md-4">
          Desenvolvedores de software do curso de Análise e Desenvolvimento de Sistemas (ADS) do IFRO - Campus Porto Velho Calama, vinculados ao GPMecatrônica.
        </p>
      </div>

      <div class="col-12 col-md-3 mb-4 mb-md-0 d-flex flex-column align-items-md-center">
        <h6 class="text-uppercase fw-bold mb-3 text-success">Menu</h6>
        <div class="d-flex flex-column gap-2">
          <a class="text-decoration-none text-secondary" href="asd">Home</a>
          <a class="text-decoration-none text-secondary" href="/João Pedro/sobre.html">Sobre</a>
          <a class="text-decoration-none text-secondary" href="dasd">Projetos</a>
          <a class="text-decoration-none text-secondary" href="dasda">Contato</a>
        </div>
      </div>

      <div class="col-12 col-md-4 d-flex flex-column align-items-md-end">
        <h6 class="text-uppercase fw-bold mb-3 text-success">Conecte-se</h6>
        <div class="d-flex gap-3 mb-3">
          <a href="#"><i class="bi bi-discord text-secondary fs-5"></i></a>
          <a href="#"><i class="bi bi-twitter-x text-secondary fs-5"></i></a>
          <a href="#"><i class="bi bi-instagram text-secondary fs-5"></i></a>
        </div>
      </div>
      
    </div>



    <div class="row">
      <div class="col-12 text-center text-secondary small">
        &copy; 2026 Calama Devs. Todos os direitos reservados.
      </div>
    </div>
  </div>
</footer>