<header class="header-main">
  <nav class="navbar bg-transparent">
    <div class="container px-5 d-flex align-items-center mt-2">
      
      <div class="w-25 ">
        <a class="ms-5" href="">
          <img class="rounded-circle " src="src/assets/images/calama_devs_logo.jpg" alt="" width="70" >
        </a>
      </div>
      <!--Links errados só pra usar a logica da tela selecionada-->
      <div class="elementos w-50 d-flex justify-content-center gap-4">
        <a class="home text-decoration-none text-white fs-5" href="asd">Home</a>
        <a class="sobre text-decoration-none text-white fs-5" href="./sobre.html">Sobre</a>
        <a class="projetos text-decoration-none text-white fs-5" href="dasd">Projetos</a>
        <a class="contato text-decoration-none text-white fs-5" href="dasda">Contato</a>
      </div>
      
      <div class="w-25 d-flex justify-content-end gap-3">
        <a href="" >
          <i class="bi bi-discord text-white fs-5"></i>
        </a>
        <a href="">
          <i class="bi bi-twitter-x text-white fs-5"></i>
        </a>
        <a href="">
          <i class="bi bi-instagram text-white fs-5"></i>
        </a>
        <button type="button" id="botao" class="btn btn-outline-success fs-5 p-2">Vagas</button>
        
        <div id="popUp" class="overlay">
            <div class="bg-dark p-4 text-center shadow rounded-3 position-relative border border-success" style="width: 300px; max-width: 90%;">
              
              <button id="fechaBotao" class="btn-close btn-close-white text-white position-absolute " aria-label="Close"></button>
              <img src="src/assets/images/leandro.jpg" class="img-fluid rounded-3 mt-4 mb-3" alt="Chefe">
              <span class="d-block fs-5 text-white">Fala com o chefe</span
            </div>
        </div>
      </div>
    </div>
  </nav>
</header>